<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Applications</title>
</head>
<body>

<h1>TEST</h1>
	<button><a href="/applications/add">+Application</a></button>
	{{range .}}
	<p>{{.JobTitle}} - {{.Company}} - {{.AppDate}}</p>
	{{end}}
</body>
</html>