<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Applications</title>
</head>
<body>

<h1>Applications</h1>
	<button><a href="/applications/add">+Application</a></button>
	<table>
		<tr>
			<th>Job Title</th>
			<th>Company</th>
			<th>Date Applied</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		{{range .}}
		<tr>
			<td>{{.JobTitle}}</td>
			<td>{{.Company}}</td>
			<td>{{.AppDate}}</td>
			<td><a href="/applications/view?id={{.Id}}">View</a></td>
			<td><a href="/applications/update?id={{.Id}}">Update</a></td>
			<td><a href="/applications/remove/execute?id={{.Id}}">DELETE</a></td>
		</tr>
		{{end}}
	</table>
</body>
</html>