<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
</head>
<body>

	<h1>We are at the home screen</h1>
	<p><a href="/applications">Applications</a></p>

</body>
</html>