{{template "header"}}

	<h1>Interviews</h1>
	<table>
		<tr>
			<th>Interview Time</th>
			<th>Method Of Interview</th>
			<th>Job Title</th>
			<th>Company</th>
		</tr>
	{{range .}}
		<tr>
			<td>{{.Appointment}}</td>
			<td>{{.Method}}</td>
			<td>{{.JobTitle}}</td>
			<td>{{.Company}}</td>
			<td><a href="/interviews/update?id={{.Id}}">Update</a></td>
			<td><a href="/interviews/remove/execute?id={{.Id}}">DELETE</a></td>
		</tr>
	{{end}}
	</table>

{{template "footer"}}